.luciad .lcdBalloon .lcdContent {
    max-height: 400px;
    max-width: 400px;
    width: auto;
}
#map {
    position: absolute;
  width: -moz-calc(100% - 1px);
  width: -webkit-calc(100% - 1px);
  width: calc(100% - 1px);
  height: -moz-calc(100% - 0px);
  height: -webkit-calc(100% - 0px);
  height: calc(100% - 0px);
  right: 0;
  /*top: 50px;*/
}

/*
#left {
    position: fixed;
  width: -moz-calc(30% - 1px);
  width: -webkit-calc(30% - 1px);
  width: calc(30% - 1px);
  background-color: #17202a; /*#181818;*
  height: -moz-calc(100% - 0px);
  height: -webkit-calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0;
  bottom: 0px;
  z-index: 300;
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;
}
*/
#topLine {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #0d2341;
    z-index: 300;
    height: 50px;
}

#ui-id-1{
    width: 20% !important;
    border: 1px solid #c1d92a !important;
    color: #c1d92a !important;
    /*text-shadow: 0.1em 0.1em 0.1em #c1d92a;*/
}

.avoid-clicks {
    pointer-events: none;
}

.table {
   width: 100px;
   border: 0px solid #000;
}
th, td {
   
   text-align: left;
   vertical-align: top;
   border: 0px solid #FFFFFF;
   border-collapse: collapse;
   padding: 5px;
   caption-side: bottom;
}

.label {
  font-size: 12px;
  padding: 2px;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}

::-webkit-scrollbar {
      width: 10px;
      height: 10px;
}
::-webkit-scrollbar-track {
      /*background-color: #1d2227;*/
      background-color: #c7c7c7;
} 
::-webkit-scrollbar-thumb {
      background-color: #c1d92a;
} 
::-webkit-scrollbar-button {
      background-color: #c1d92a;
}
::-webkit-scrollbar-corner {
      background-color: #1d2227;
}

.scroller {
  scrollbar-color: #1d2227 white; /* thumb and track color */
  scrollbar-width: thin;
}

#timeMapPanel {
    display: block;
    right: 20px;
    bottom: 10px;
    width: 67%;
    height: 200px;
    position: absolute;
    z-index: 300;
    background-color: #17202a82;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #bcdb28;
    border-radius: 10px;
    box-shadow: 0 10px 7px rgba(0,0,0,.2);
}
/*
.big {
    /*left: 50px;*
    top: 50px;
    width: 70%;
    height: 90%;
    min-width: 580px;
}

.rightpanel {
    display: none;
    right: 10px;
    top: 27px;
    min-width: 400px;
    max-width: 95%;
    min-height: 400px;
    max-height: 85%;
    position: absolute;
    z-index: 300;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #bcdb28;
    margin-top: 10px;
    margin-left: 10px;
}

.panelContent {
    position:absolute;
    margin-top: 50px;
    margin-left: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 52px);
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: #17202a;
  scrollbar-color: #bcdb28 #323b44; /* thumb and track color *
  scrollbar-width: thin;
}

.closeButton {
    display: block;
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 100;
}

/* =========== */



#labelChart0 {
    width: fit-content;
    position: relative;
    left: 39%;
    top: 39%;
    font-size: 18px;
}
#labelChart1 {
    width: fit-content;
    position: relative;
    left: 39%;
    top: 39%;
    font-size: 18px;
}

.bigTable {
    position: relative;
    width: calc(100% - 100px);
    height: calc(100% - 200px);
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 10px;
}
/*
#logo {
  width: 118px;
  height: 118px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 150;
  background-image: url("../data/icons/logo/LOGO_LEON_azul_small.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
*/
.labelError {
    color: #d9534f;
}
/*
#infoPanel {
    display: none;
    left: 0px;
    top: 0px;
    min-width: 300px;
    width: 30%;
    height: 100%;
    position: absolute;
    z-index: 300;
    background-color: #15202d;
    padding-top: 20px;
    font-size: 14px;
    border-width: 1px;
    box-shadow: 0 10px 7px rgba(0,0,0,.2);
}

/*#labelTime {
    width: 200px;
    left: calc(50% - 100px); 
    position: absolute;
    bottom: 50px;
}*/

.loadingPanel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3px;
    background-color: rgba(172, 172, 172, 0.5);
    z-index: 400;
}
.loadingImg {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.headerDiv {
    border: 1px solid #6e7a22;
    background-color: #191929;
    padding-left: 30px;
    height: 38px;
    position: relative;
    padding-top: 8px;
    margin-bottom: 8px;
}

.headerDiv a {
    right: 10px;
    top: 3px;
    position: absolute;
}

.hide {
    max-height: 0;
    padding-bottom: 0;
}  

.contenedorGrafica {
    transition: transform 1s;
        -webkit-transition: max-height 0.3s linear;
    -o-transition: max-height 0.3s linear;
    transition: max-height 0.3s linear;
}